* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    

    
    background: linear-gradient(
        to bottom,
        #C1E8FF 0%,
        #7DA0CA 35%,
        #5483B3 65%,
        #052659 100%
    );
}.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 40px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}


.navbar nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar nav a:hover {
    text-decoration: underline;
}


.hero {
    min-height: 300px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #555;
}


.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}


.card {
    width: 250px;
    padding: 25px;
    background-color: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: block;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #2c3e50;
    font-size: 20px;

}


footer {
    margin-top: auto;      
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}